snippet ingredient "@ingredient{quantity%measurement}(verb)"
@${1:ingredient}\{${2:quantity}%${3:measurement}\}(${4:verb})
endsnippet

snippet blc "block comment"
[-
${1:comment}
-]
endsnippet

snippet timer
~${1:timer-name}\{${2:timer-length}%${3:timer-unit}\}
endsnippet
